.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;

  .logo {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .spacer {
    flex: 1;
  }

  nav a {
    font-weight: 500;
  }
}
